.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 95vh;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../../assets/img/heroBackground.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center center;
    font-family: 'Amiga Forever', sans-serif;
    color: aliceblue;
  }
  h1 h2 p {
    margin-top: 20px;
  }
  .h1titulo {
    margin-top: 100px;
  }